:root {
    --primary-grey: #BABCBE;
    --primary-dark-blue: #003468;
    --primary-blue: #005BA8;
    --primary-yellow: #FFC20E;
    --primary-white: #FFFFFF;
  }

body {
    font-family: 'Ubuntu', sans-serif;
}

.left-panel-main {
    background-color: var(--primary-yellow);
    height: 100vh;
    width: 25vw;
}

.full-name {
    color: var(--primary-dark-blue);
    font-size: 30px;
}

.connect-icon {
    width: 40px;
    padding-top: 50px;
}


.left-panel-name {
    display: none;
}

.text-center-div {
    text-align: center;
}

.main-body {
    /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/long_background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 75%;
    content: ""; */
    background-color: var(--primary-white);
    color: var(--primary-blue);
    height: 100vh;
    width: 75vw;
}

.tab-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: var(--primary-grey);
    width: 100px;
}

.highlight-tab-title {
    border-bottom: 3px solid var(--primary-yellow);
    color: var(--primary-blue) !important;
    font-weight: 700;
}

.about-body-content{
    font-size: 20px;
}

.tech-icon {
    height: 40px;
}

.tech-icon-bar {
    background-color: rgba(186, 188, 190, 0.4);
}

.email-text{
    color: black;
}

@media screen and (max-width: 800px) {
    .left-panel-main, .main-body {
        width: 100vw; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .tech-icon{
        width: 25px;
        height: 25px;
    }

    .left-panel-name {
        color: var(--primary-blue);
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        font-weight: 900;
        display: block;
    }

    .hide-on-sm {
        display: none;
    }

    .connect-icon{
        padding-top: 0%;
    }

    .about-nav-bar {
        background-color: var(--primary-dark-blue);
        width: 100%;
    }

}
