<div class="container">
    <div class="row">
        <div class="col pt-5 pb-1">
        <span class="full-name"><b>MANIDEEP MADABHUSHANI</b></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="email-text p-1 mb-1">manideep.m@yahoo.com</span>
        </div>
    </div>

    <div class="row mt-3">
        <span class="col about-body-content">
        Software craftsman and Block Chain Enthusiast with experience in Full Stack Developement.
        </span>
    </div>
</div>