<div class="container">
    <div class="row">
        <div class="col pt-5 pb-1">
        <span class="about-tab-full-name"><b>MANIDEEP MADABHUSHANI</b></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm education-head">
            B.Tech Computer Science and Technology<br/>VIT University
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="email-text mb-1">manideep.m@yahoo.com</span>
        </div>
    </div>

    <div class="row mt-3">
        <span class="col about-body-content">
            Software craftsman and Tech Enthusiast with energy and enthusiasm to deliver solutions for complex problems
        </span>
    </div>

</div>