<div class="container">
    
        
        <div class="card job-card">
            <div class="card-body">
                <h5 class="card-title job-title">Senior Software Engineer</h5>
                <span class="job-date float-right">Since August 2018</span>
                <h6 class="card-subtitle mb-2 job-org">ATMECS</h6>
                <ul class="card-text text-dark job-desc pl-2">
                    <i><b>Cortex - APDComms</b></i><br />
                    Cortex is a Integrated Communication Control System | ICCS, that places all the familiar hardware - radio, telephony, CCTV and talk groups onto one screen. Used in over 70 control rooms around the world, Cortex enables rapid communication by bringing radio, telephony, CCTV, and more, together on one screen.
                    <li>Played crucial role in gathering requirements, proposing Software Architecture and Design Ideas, conducting code reviews, giving support to install new features on customer's location and mentoring peer developers in delivering quality software.</li>
                    <li>Following were the new capabilities that were added to Cortex and responsibilities that were picked up.
                        <ul>
                            <li>MarineGateway: Gateway to send and receive DSC Messages from TransOceana Marine Radio Hardware 
                                <ul>
                                    <li>
                                        Developed complete backend following ITU-RecM821-1 and NMEA specifications required for communication to TransOceana Hardware via a UDP socket.
                                    </li>
                                    <li>
                                        Created TFS build definition and release definition
                                    </li>
                                    <li>
                                        Conducted code reviews for client side desktop development
                                    </li>
                                </ul>
                            </li>
                            <li>Dimetra Features: Royal Oman Police Customer were using advanced Tetra version called 'Dimetra' provided by Motorola. 
                                <ul>
                                    <li>
                                        Took complete ownership of Vortex Driver development and support. Vortex is the driver utilized in communicating to Dimetra Infrastructure.
                                    </li>
                                    <li>
                                        Added features: Single Select Mode, Half Duplex Mode, Multi Select Mode, Instant Transmit, APB Transmit and All Mute
                                    </li>
                                    <li>
                                        Quickly learned Delphi and picked up complete responsibilities of involved legacy applications which were communicating via TCP to Vortex Driver.
                                    </li>
                                    <li>
                                        Conducted code reviews for client side desktop development
                                    </li>
                                </ul>
                            </li>
                            <li>Migrate few features from legacy Status Service to Couchbase DB 
                                <ul>
                                    <li>
                                        Did research on how Couchbase can be leveraged across the product, impacted areas and performance optimization that can be achieved. 
                                    </li>
                                    <li>
                                        Was one of the three members to migrate the functionalities to Couchbase DB
                                    </li>
                                </ul>
                            </li>
                            <li>SmsGateway: Gateway to send and receive SMS from Cortex, customized only for Royal Oman Police Customer. 
                                <ul>
                                    <li>
                                        Was one of the backend development team consisting of two.
                                    </li>
                                    <li>
                                        Created TFS build definition and release definition
                                    </li>
                                    <li>
                                        Conducted code reviews for client side desktop development
                                    </li>
                                </ul>
                            </li>
                            <li>ECadiGateway: Gateway to receive Individual Statuses from ECadi Infrastructure to Cortex, customized only for Royal Oman Police Customer. 
                                <ul>
                                    <li>
                                        Was one of the backend development team consisting of two.
                                    </li>
                                    <li>
                                        Created TFS build definition and release definition
                                    </li>
                                    <li>
                                        Conducted code reviews for client side desktop development
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Key Highlights:
                        <ul>
                            <li>
                                Within few months became the only member of 'Cortex Hull admins' group responsible for reviewing and approving PR from APD Comms. 
                            </li>
                            <li>
                                Played crucial role in getting our team 'Team of the Month' award for providing support on demand
                            </li>
                            <li>
                                Conducting PR reviews of all the teams across the engagement with client and conducting training sessions on improving code quality.
                            </li>
                            <li>
                                Through out the project Agile process and Test Driven Development (TDD) was strictly followed
                            </li>
                        </ul>
                    </li>

                    <br/>
                    <i><b>SmartID</b></i><br />
                    BlockChain based product for individuals and organisations to obtain, verify and share identity credentials with one another.
                    <li>Played crucial role in Software Architecture and Design.</li>
                    <li>Set and maintained quality standards with Jenkins CI. </li>
                    <li>Created  and maintained private ethereum blockchain.</li>
                </ul>
            </div>
        </div>

        <div class="card job-card">
            <div class="card-body">
                <h5 class="card-title job-title">Software Developer</h5>
                <span class="job-date float-right">Mar 2018 - July 2018</span>
                <h6 class="card-subtitle mb-2 job-org">DoctorC</h6>
                <ul class="card-text text-dark job-desc pl-2">
                    <li>Worked as a member of Growth team</li>
                    <li>Increased lead generation by conducting experiments and tracking their results by developing analytics.</li>
                    <li>Optimized a base ReactJs module used in several businesses verticals  to convert leads faster.</li>
                    <li>Improved organization’s work efficiency by automating several manual tasks using CasperJS.</li>
                </ul>
            </div>
        </div>

        <div class="card job-card">
            <div class="card-body">
                <h5 class="card-title job-title">Software Developer - Full Stack</h5>
                <span class="job-date float-right">May 2017 - Mar 2018</span>
                <h6 class="card-subtitle mb-2 job-org">Deloz</h6>
                <ul class="card-text text-dark job-desc pl-2">
                    <li>Developed database caching layer using redis to enhance the querying  performance</li>
                    <li>Developed advanced filtering  system which converts json to db queries thus filters entities on global level from the user interface.</li>
                    <li>Developed Email System and utility tools like Activities,  Notes, Message Threads which leverage the real time system.</li>
                    <li>Was part of team which developed Insights and statistical data from the sale. </li>
                    <li>Developed Individual Page module which fetches all the related data on global level of a given entity.  </li>
                    <li>Was responsible for server handling and deployment. </li>
                </ul>
            </div>
        </div>

        <div class="card job-card">
                
            <div class="card-body">
                <h5 class="card-title job-title">Tech Analyst</h5>
                <span class="job-date float-right">January 2016 - May 2018</span>
                <h6 class="card-subtitle mb-2 job-org">HashedIn</h6>
                <ul class="card-text text-dark job-desc pl-2">
                        <i><b>HIway</i></b><br/>
                        HIway is an internal tool for employee management.<br/>
                        <li>Worked as a Full Stack Developer.</li>
                        <li>Developed JSON REST full API services and UI to integrate them.</li>
                        <li>Conducted Code reviews to ensure code quality and performance.</li>
                        <li>Integrated SonarQube Code monitoring tool using shell script.</li>
                        
                        <br/>
                        <i><b>WorkdIn</b></i> <br />
                        WorkdIn monitors your work across different platforms like Github, Jira, Slack, Drive, Gmail and Hiway to provide actionable insights and improvement ideas. <br />
                        <li>Worked as a Full Stack Developer.</li>
                        <li>Primarily responsible for integrating and collecting data from the given platforms.</li>
                        <li>Developed JSON REST full API services which give analytics over the collected data from different platforms  and UI to integrate them.</li>
                        <li>Conducted Code reviews to ensure code quality and performance.</li>
                        <li>Build and deployed Slack Bot in Docker using shell script.</li>
                        <li>Integrated New Relic monitoring tool.</li>
                        <li>Integrated AWS Lambda tool to collect data from email. </li>
                        <br/>
                        <i><b>Amazon Web Services - SSO</b></i><br />
                        AWS-SSO or AWS Single Sign On acts like a gateway between user and Amazon web services. It allows a user to login using Google OAuth and creates a session in AWS account with permissions applied, according to the role of logged in user. <br/>
                        <li>Worked as Full Stack Developer Intern.</li>
                        <li>Build using  AWS Boto apis.</li>
                        <li>Developed JSON REST full API services and UI to integrate them.</li>
                </ul>
            </div>
        </div>

</div>